<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PcfProvider64Setup" Language="1033" Version="1.0.0.0" Manufacturer="Brad Friedlander" UpgradeCode="0fcc929a-c665-4c96-b928-4812920410e3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<Feature Id="ProductFeature" Title="PcfProvider64Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		<UI />
	</Product>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder" Name="PFiles">
				<Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
					<Directory Id="INSTALLDIR" Name="Modules">
						<Directory Id="PCFPROVIDER" Name="PcfProvider" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="PCFPROVIDER">
			<Component Id="ProductComponent" Guid="531CEA9F-6DA7-4E38-A805-0F7F922A075A" Win64="yes">
				<File Source="$(var.PcfProvider.TargetPath)" />
				<File Source="$(var.PcfProvider.TargetDir)PcfProvider.psd1" />
				<File Source="$(var.PcfProvider.TargetDir)PcfProvider.format.ps1xml" />
				<File Source="$(var.PcfProvider.TargetDir)TestPcf.ps1" />
				<File Source="$(var.PcfProvider.TargetDir)Newtonsoft.Json.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>